
.body{
    background-color: #2A2C2F;
}

.page{
    max-width: 1280px;
    margin: 0 auto;

}

.header{
    max-width: 1184px;
    margin: 0 auto;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
}

.header__logo{
    width: 176px;
    height: 52px;
    margin: 0;
}

.header__lang_links{

    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 18px;
    align-items: flex-end;
}

.header__lang_link{
    color: #FFFFFF;
    width: 30px;
    height: 28px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
    text-decoration: none;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: right;

}

.lead{
    display: flex;
    color: #FFFFFF;
    flex-direction: column;
    margin: 56px auto 0 auto;
    max-width: 984px;

    
}

.lead__title{
    max-width: 720px;
    height: 200px;
    font-family: Inter;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    align-items: center;
    display: flex;
    margin: 0 auto 32px auto;
    text-align: center;
}

.lead__subtitle{
    max-width: 640px;
    height: 72px;
    margin: 0 auto;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.lead__image{
    background-image: url(./images/lead-polka.jpg);
    background-size: cover;
    width: 984px;
    height: 615px;
    margin: 64px auto 0 auto;
}

.lead__caption{
    margin: 8px 0 0 0;
    width: 158px;
    height: 14px;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
}

.intro{
    margin: 92px 0 0 148px;
    color: #FFFFFF;
    height: 429px;
    width: 690px;
}

.intro__title{
    max-width: 690px;
    height: 58px;
    margin: 0;
    font-family: Inter;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
        margin-bottom: 40px;
}

.intro__text{
    height: 208px;
    width: 690px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;

}

.intro__list{
    text-decoration: none;
    list-style-type: none;
    height: 90px;
    width: 690px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin: 0;
    padding-left: 0;
    margin-top: 33px;
}

.photo-grid{
    width: 1184px;
    height: 671px;
    margin: 92px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    gap: 16px;

}

.photo-grid__item{
    height: 213px;
    width: 284px;

    object-fit: cover;
    
}
.places{
    color: #FFFFFF;
    margin: 0 auto;
    gap: 80px;
    margin-top: 92px;
}

.place{
    display: grid;
    grid-template-areas:
    "title url"
    "image paragraphs";
    column-gap: 40px;
    row-gap: 48px;
    width: 984px;
    margin: 80px auto;
}

.place__title{ 

    min-width: 460px;
    font-family: Inter;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    text-align: left;
    grid-area: title;
    margin: 0 auto;
}

.place__image{
    grid-area: image;
    width: 460px;
    height: 460px;
}

.place__website{
    grid-area: url;
    align-self: flex-end;
}

.place__url-heading{
    min-height: 12px;
    min-width: 456px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2px;
    text-align: left;
    margin: 0 auto;
    color: #AAAAAA;
    margin-bottom: 12px;
}

.place__link{
    list-style-type: none;
    color: #FFFFFF;
    min-height: 22px;
    min-width: 456px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    text-decoration-line: underline;
}

.place__text{
    grid-area: paragraphs;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.place__paragraph{
    min-height: 145px;
    min-width: 484px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    margin: 0 auto;
}

.cover__link{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    margin: 92px auto 0 auto;
    height: 740px;
    width: 1184px;
}

.cover__title{
    min-height: 152px;
    width: 560px;
    font-family: Inter;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    text-align: center;
    margin: 0 auto;
    z-index: 1;
    list-style-type: none;
    text-decoration: none;
}

.cover__subtitle{
    min-height: 66px;
    width: 360px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin: 32px auto 0 auto;
    z-index: 1;
}

.cover__image{
    background-size: cover;
    height: 740px;
    width: 1184px;
    z-index: 0;
    position: absolute;
    opacity: 30%;
}

.footer{
    display: flex;
    color: #FFFFFF;
    margin: 92px auto 0 auto;
    align-items: baseline;
    justify-content: space-between;
    min-height: 18px;
    width: 1184px;
    padding-bottom: 24px;
}

.footer__links{
    gap: 18px;
    display: flex;
    flex-direction: row;
}

.footer__link{
    text-decoration: none;
    list-style-type: none;
    color: #FFFFFF;
    min-height: 18px;
    min-width: 50px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin: 0;
}

.footer__copyright{
    margin: 0;
    height: 16px;
    width: 186px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
}