.place__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
  font-style: normal;
  font-size: 18px;
  line-height: 163%;
}

@media screen and (max-width: 1023px) {
  .place__text {
    font-size: 16px;
    gap: 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__text {
    gap: 25px;
    padding: 0 16px;
  }
}
